#bgImg {
    /* background-image: url("./images/herbal_page-0002.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: bottom; */
    /* width: auto; */
}

@media (max-width:500px) {
    #bgImg {
        height: auto;
    }
}


h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

/* Headings (h1–h6) */
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

/* Main headings / titles (like your hero sections) */
.main-title {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    font-family: "Open Sans", sans-serif;
}