#bgImg {
    background-image: url("https://img.freepik.com/premium-photo/ayurveda-background_1022134-25291.jpg?w=360");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}