    

        .table-size {
    width: 100%;
    overflow-x: auto; /* allow horizontal scroll if needed */
}

        @media (min-width:768px) {
            .table-size table {
                min-width: 700px;
            }
        }

        @media (min-width: 1024px) {
            .table-size table {
                min-width: 900px;
            }
        }